.calculator_container{
    height: 300px;
    width: 400px;
    background-color: burlywood;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}