.button_cal{
    height: 60px;
    width: 60px;
    background-color: cadetblue;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}